[Desktop Entry]
Categories=AudioVideo;
Comment[de]=
Comment=
Exec=openlp %F
GenericName[de]=Church lyrics projection
GenericName=Church lyrics projection
Icon=openlp
MimeType=application/x-openlp-service;
Name[de]=OpenLP
Name=OpenLP
Path=
StartupNotify=true
Terminal=false
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
